[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpi-ws281x = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-blinka = "*"

[dev-packages]

[requires]
python_version = "3.12"
